:root {
    --light-blue: #62ffac;
    --light-blue-seethru: #fda84721;
    --matrix-green: hsla(125, 100%, 50%, 1);
    --matrix-green-seethru: hsla(125, 100%, 50%, 0.1);
    --inner-background: hsla(0, 0%, 0%, 0.7);
    --error-red: hsla(360, 100%, 45%, 1);
    --error-red-seethru: hsla(360, 100%, 45%, 0.1);
    --converter-size: 20px;
    --main-size: 35px;
    --focus-size: 30px;
    --focus2-size: 35px;
    --focus3-size: 40px;
    --focus4-size: 40px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--main-size);
    color: whitesmoke;
    background-image: url("https://i.imgur.com/qZT4SVK.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: var(--light-blue);
    text-align: center;
    font-size: var(--focus2-size);
}

h2 {
    color: var(--light-blue);
    font-size: var(--focus2-size);
}

#inner-container {
    padding: 2rem;
    background-color: var(--inner-background);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#acc-digits {
    margin-bottom: 0.1rem;
}

#digits {
    margin-top: 0.1rem;
    color: var(--light-blue);
    font-size: var(--focus3-size);
}

#select_text {
    text-transform: uppercase;
}

#intervals {
    font-size: var(--focus-size);
}

#intro {
    width: 85%;
}

.content-box p {
    margin-top: 0.1rem;
}

.content-box {
    width: 90%;
    max-width: 50rem;
    font-size: var(--converter-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 2px solid var(--light-blue);
    border-radius: 1rem;
    padding: 0.5rem;
}

select {
    border: 2px solid var(--light-blue);
    border-radius: 1rem;
    background-color: var(--light-blue-seethru);
    color: var(--light-blue);
    text-align: center;
    font-size: var(--focus-size);
    margin: 1rem;
}

select option {
    background-color: black;
    border: 1px solid var(--light-blue);
}

option:hover {
    background-color: var(--light-blue);
    color: black;
}

#caps-warning {
    color: var(--light-blue);
}

button {
    width: 100%;
    border: 2px solid var(--light-blue);
    border-radius: 1rem;
    background-color: var(--light-blue-seethru);
    color: var(--light-blue);
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: var(--focus3-size);
    margin-top: 0.5rem;
}

#harp-key-selector {
    padding-bottom: 5rem;
}

table {
    width: 80%;
    max-width: 100%;
    border: 1.5px solid var(--light-blue);
    border-radius: 30px;
    padding: 0.2rem 0.5rem;
}

.harp-holes {
    border: 2px solid var(--light-blue);
    color: black;
    background-color: whitesmoke;
}

.blow-notes,
.draw-notes {
    color: var(--light-blue);
    font-size: var(--focus-size);
}

table td {
    text-align: center;
    width: 10%;
}

#second-position {
    font-size: var(--focus-size);
    color: var(--light-blue);
}

footer {
    height: 20px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 850px) {
    #inner-container {
        width: 95%;
        min-width: none;
    }
    .content-box {
        width: 98%;
        max-width: none;
    }
    #intro {
        width: 95%;
        min-width: none;
    }
    select {
        font-size: 15px;
        max-width: 50%;
    }
    #digits {
        font-size: 20px;
    }
    #intervals {
        font-size: 20px;
    }
    #select_text {
        display: none;
    }
    table {
        width: 95%;
        max-width: 100%;
    }
    .blow-notes,
    .draw-notes {
        font-size: 25px;
    }
}